<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDQCyD00JK_KjH9Hx5Mu0xzddlwhRDXKE</string>
	<key>GCM_SENDER_ID</key>
	<string>897114328485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qadomy</string>
	<key>PROJECT_ID</key>
	<string>cfca-23a75</string>
	<key>STORAGE_BUCKET</key>
	<string>cfca-23a75.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897114328485:ios:3a5476cc8f070762782c4c</string>
</dict>
</plist>